version: "3.9"

services:
  postgres-db:
    image: postgres:16
    container_name: postgres-db
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 10s
      retries: 5
    # Security
    security_opt:
      - no-new-privileges:true

  user-service:
    image: lavanyang/backend:latest
    container_name: user-service
    env_file:
      - .env
    networks:
      - backend 
      - frontend
    ports:
      - "8080:8080"
    volumes:
      - ./bind/data:/service/data:rw
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DB_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      postgres-db:
        condition: service_healthy
    # Security
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp

  frontend:
    image: lavanyang/frontend:v1.0
    container_name: frontend
    networks:
      - frontend
    ports:
      - "3000:80"
    depends_on:
      - user-service

volumes:
  db-data:

networks:
  frontend:
    driver: bridge
  backend:
    internal: true
